.main {
  min-height: 80vh;
}

/* header css  */
.nav-link:hover {
  font-size: 1.1em;
}

.nav-link {
  transition: font-size 0.3s ease;
}

/* admin css */

.form-center {
  width: 450px;
  margin: auto;
}
